body {
      margin: 0;
      background: radial-gradient(circle at center, #000 60%, #111 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Courier New', monospace;
      color: white;
      background-image: url('images/cielo.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

#canvas-container {
      border: 5px solid white;
      box-shadow: 0 0 40px white;
      padding: 5px;
}

canvas {
      display: block;
}