body {
      margin: 0;
      background: radial-gradient(circle at center, #000 60%, #111 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Courier New', monospace;
      color: white;
      background-image: url('images/cielo.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

#canvas-container {
      border: 5px solid white;
      box-shadow: 0 0 40px white;
      padding: 5px;
}

canvas {
      display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #111;
    padding: 30px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
}

#player-name {
    background: #222;
    color: white;
    border: 1px solid #00ffff;
    padding: 10px;
    font-size: 18px;
    margin: 15px 0;
    width: 80%;
    text-align: center;
    font-family: 'Courier New', monospace;
}

#start-game {
    background: #00ff00;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#start-game:hover {
    background: #00cc00;
}